{
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:flowtype/recommended",
    "./index.js"
  ],
  "globals": {
    "describe": true,
    "expect": true,
    "test": true
  },
  "rules": {
    "flowtype/no-types-missing-file-annotation": "off",
    "flowtype/require-parameter-type": [
      "error",
      "always"
    ],
    "flowtype/space-before-type-colon": [
      "error",
      "always"
    ]
  }
}
